     .cirnotob-global-color {
         max-width: 100%;
     }

     .card-body {
         height: 100%;
     }

     #color-list {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
     }

     .color-item-left {
         position: relative;
         padding-top: 28px;
     }

     .color-item {
         display: flex;
         border: 1px solid #dee2e6;
         transition: all 0.2s ease;
         margin: 10px;
         padding: 10px;
     }

     .color-item label {
         font-weight: bold;
     }

     .color-item:hover {
         background-color: #f8f9fa;
     }

     .wp-picker-container {
         position: absolute;
         top: 0;
         background-color: white;
     }

     .wp-picker-container,
     .wp-picker-container button {
         width: 100%;
     }

     .wp-picker-holder {
         position: relative;
         z-index: 200;
     }

     .remove-color {
         margin-left: 4px;
         white-space: nowrap;
     }

     .me-3 {
         margin-top: 10px;
     }

     .card-footer {
         text-align: right;
     }